<p>Dear ${to},<p>
<p style="font-size: 30px; color: rgb(27, 154, 247); font-weight: bold">Get my password back</p>
<p>You can login with following temporary password.</p>

<span style="font-size:24px; color: rgb(27, 154, 247)">${password} </span>

<p>it will expire in 1 hour, please change your password with it after login.</p>
<p>To login, click following button or visit ${url}</p>
<p>
<a target="_blank" href="${url}"><button style="height: 20px;
line-height: 12px; 
width:150px; 
background:rgb(27, 154, 247); 
color: white; 
font-size: 12px;
border:0px;
font-weight: bold;
text-decoration: none;
border-radius: 2px;" type="button">Go to MiniDiary.org</button></a>
</p>
<p>Sincerely,</p>
<p>Mini Diary Group</p>