  <p style="font-size: 30px;color:rgb(27, 154, 247); font-weight: bold">Please confirm your email address</p>
  <p >Click following button to verify the email address</p>
 
<p><a target="_blank" href="${url}"><button type="button" style="height: 20px;
line-height: 12px; 
width:120px; 
background:rgb(27, 154, 247);
color: white; 
font-size: 12px;
border:0px;
font-weight: bold;
text-decoration: none;
border-radius: 2px;
">Verify Now</button></a></p>


<p>Sincerely,</p>
<p>Mini Diary Group</p>
