<div class="about container-fluid">
	<div class="row c1"></div>
	<div class="row c2">
		<a [routerLink]="['/login']"><Strong>Mini Diary</Strong></a> is how people record happiness and experience


	</div>
	<div class="row c3 ">
		<p>We’re supporting a simple, convenient place where people can think and record their daily life and future. </p>

		<p>We’re working hard to build a supportive, welcoming place for users. And you can conact us by sending email to xyks@yahoo.com to make it better.	
		</p>
	</div>

</div>